#content-row {
	width: 100%;
	min-height: 540px;
	height: 50%;
	margin: auto;
  	position: absolute;
  	top: 0; left: 0; bottom: 0; right: 0;
	/*background-color: green;*/
}

#content {
	margin: auto;
	position: relative;
	width: 720px;
	/*background-color: blue;*/
}

#content > div {
	display: block;
	box-sizing: border-box;
}

#logo-container {
	width: 350px;
	height: 220px;
	margin: auto;
	/*background-color: pink;*/
}

#logo {
	width: 350px;
}

#glow-dot {
	width: 1px;
	height: 1px;
	margin: auto;
	background-color: white;
	box-shadow: 0 0 300px 300px white;
	z-index: -1;
}

#paste-box-container {
	margin-top: 50px;
	width: 100%;
	height: 40px;
	/*background-color: cyan;*/
	background-color: #fafafa;

	border-radius: 2px;
	border-width: 2px;
	border-style: solid;
	border-color: pink;
}
#paste-box-container:hover {
	/*border-width: 1px;*/
	box-shadow: 0 0 3px 1px lightpink;
}

#button-container {
	margin: 0 auto;
	margin-top: 24px;
	text-align: center;
}

.button {
	box-sizing: border-box;
	display: inline-block;
	width: 150px;
	height: 45px;
	/*background-color: yellow;*/
	margin-left: 4px;
	margin-right: 4px;
	background-color: #fcfcfc;

	color: #282828;
	font-size: 12px;
	line-height: 45px;
	letter-spacing: 4px;
}	
.button:hover {
	/*margin-left: 5px;*/
	border-width: 1px;
	box-shadow: 0 0 2px 0 #737373;
}