#content-row {
	width: 100%;
	/*min-height: 540px;*/
	/*height: 50%;*/
	margin: auto;
	margin-top: 10%;
  	position: relative;
  	top: 0; left: 0; bottom: 0; right: 0;
	/*background-color: blue;*/
}

#content {
	margin: auto;
	position: relative;
	max-width: 620px;
	min-width: 520px;
	/*background-color: blue;*/
}

#content > div {
	display: block;
	box-sizing: border-box;
}

#logo-container {
	width: 150px;
	height: 100px;
	margin: auto;
	/*background-color: pink;*/
}

#logo {
	width: 150px;
}

#title {
	text-align: center;
	margin: 0 auto;
	margin-top: 20px;
	font-size: 18px;
	letter-spacing: 24px;
	color: #282828;
	text-indent: 52px;
	opacity: 0.8;
}

#glow-dot {
	width: 1px;
	height: 1px;
	margin: auto;
	background-color: white;
	box-shadow: 0 0 300px 300px white;
	z-index: -1;
}

#paste-box-container {
	margin-top: 30px;
	width: 100%;
	height: 40px;
}

#paste-box-container > input {
	width: 100%;
	height: 100%;

	font-size: 14px;
	text-indent: 16px;
	letter-spacing: 1px;
	color: #282828;

	background-color: #fafafa;

	border-radius: 2px;
	border-width: 2px;
	border-style: solid;
	border-color: pink;

	box-shadow: 0 10px 20px -10px lightgray;
}

#paste-box-container > input:hover {
	box-shadow: 0 8px 20px -10px gray;
}

#paste-box-container > input:focus {
	outline: 0;
	background-color: white;
	border-color: lightpink;
	box-shadow: 0 8px 20px -10px gray;
	-webkit-box-shadow: 0 8px 20px -10px gray;
}

#button-container {
	margin: 0 auto;
	margin-top: 24px;
	text-align: center;
}

.button {
	box-sizing: border-box;
	display: inline-block;
	width: 150px;
	height: 45px;
	/*background-color: yellow;*/
	margin-left: 4px;
	margin-right: 4px;
	background-color: #fcfcfc;

	color: #282828;
	font-size: 12px;
	line-height: 45px;
	letter-spacing: 4px;
}

.button:hover {
	/*margin-left: 5px;*/
	border-width: 1px;
	box-shadow: 0 0 2px 0 #737373;
}