#content-row {
    width: 100%;
    margin: auto;
    margin-top: 200px;
    position: relative;
    /*background-color: green;*/
}

#content {
    margin: auto;
    position: relative;
    width: 100%;
    /*background-color: blue;*/
    text-align: center;
}

#content>div {
    display: block;
    box-sizing: border-box;
}

#logo-container {
    width: 150px;
    height: 100px;
    margin: auto;
    /*background-color: pink;*/
}

#logo {
    width: 150px;
}

#title {
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 18px;
    letter-spacing: 24px;
    color: #282828;
    text-indent: 36px;
    opacity: 0.8;
}

#glow-dot {
    width: 1px;
    height: 1px;
    margin: auto;
    background-color: white;
    box-shadow: 0 0 300px 300px white;
    z-index: -1;
}

form {
    position: relative;
    display: inline-block;
    max-width: 620px;
    min-width: 520px;
}

#paste-box-container {
    margin-top: 30px;
    width: 100%;
    height: 40px;
}

input {
    width: 97%;
    height: 90%;
    padding-left: 12px;
    outline: 0;
    border: none;
    box-shadow: none;
    background-color: #fafafa;
    font-size: 14px;
    letter-spacing: 1px;
    color: #525252;
    border-radius: 2px;
    border-width: 2px;
    border-style: solid;
    border-color: pink;
    box-shadow: 0 10px 20px -10px lightgray;
}

input:hover {
    box-shadow: 0 8px 20px -10px gray;
}

input:focus {
    outline: 0;
    border-color: lightpink;
    box-shadow: 0 8px 20px -10px gray;
    background-color: white;
}

input:focus~#button-container {
    background-color: white;
}

#button-container {
    float: right;
    position: absolute;
    right: 5px;
    bottom: 4px;
    text-align: right;
    background-color: #fafafa;
}

.icon-button {
    padding-right: 8px;
    padding-left: 12px;
}

.icon-button>img {
    padding: 4px;
    opacity: 0.5;
}

.icon-button>img:hover {
    cursor: pointer;
    opacity: 0.75;
}