<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="reset.css">
    <link rel="stylesheet" type="text/css" href="login-style.css">
    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.3"></script>

</head>

<body>
    <div id="window">
        <div id="content-row">
            <div id="content">
                <div id="logo-container">
                    <img id="logo" src="assets/res/cloud.png">
                </div>

                <div id="title">
                    <p>cloud tracks</p>
                </div>

                <div id="glow-dot">
                </div>

                <form @submit.prevent="loginSubmit">
                    <div id="inputs-container">
                        <div class="reg-input">
                            <p>username</p>
                            <input type="text" spellcheck="false" id="user-box" v-model="userName">
                        </div>
                        <div class="reg-input">
                            <p>password</p>
                            <input type="password" id="pass-box" v-model="userPass">
                        </div>
                    </div>

                    <div id="button-container">
                        <input type="submit" value="\\ login" class="button" id="go-button ">
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
<script src="login-script.js "></script>

</html>