#window {
    position: absolute;
    width: 100%;
    height: 100%;
}

#content-col {
    position: relative;
    margin: 0 auto;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 100px;
    /*background-color: green;*/
    max-width: 1130px;
    min-width: 750px;
}

#content-header {
    height: 150px;
    background-color: #ececec;
    border-radius: 2px;
    text-align: center;
    padding-top: 20px;
}

h1 {
    font-size: 72px;
    color: #282828;
}

#content {
    position: relative;
    margin: 0 auto;
    margin-top: 25px;
    /*background-color: blue;*/
    background-color: #f2f2f2;
}

li {
    display: inline-block;
}

.playlist-item {
    margin: 12px;
    height: 210px;
    width: 160px;
    /*background-color: pink;*/
    display: inline-block;
    border-radius: 2px;
}

.playlist-thumbnail-container {
    position: relative;
    background-color: lightcyan;
    width: 160px;
    height: 160px;
}

.playlist-thumbnail-container:hover {
    cursor: pointer;
}

.playlist-thumbnail-container:hover .pp-button {
    opacity: 1;
}

.pp-button {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: orangered;
    border-radius: 500px;
    top: 55px;
    left: 55px;
    opacity: 0;
    text-align: center;
}

.pp-button:hover {
    background-color: orange;
}

.pp-button>img {
    width: 40px;
    height: 40px;
    margin-top: 5px;
}

.thumbnail {
    height: 160px;
    width: 160px;
}

.playlist-item>p {
    color: #282828;
    letter-spacing: 0.5px;
    max-width: 160px;
    max-height: 16px;
}

.playlist-title {
    margin-top: 8px;
    font-size: 16px;
}

.playlist-artist {
    margin-top: 8px;
    font-size: 14px;
    opacity: 0.8;
}