<!DOCTYPE html>
<html>

<head>
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="reset.css">
    <link rel="stylesheet" type="text/css" href="login-style.css">
    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.3"></script>

</head>

<body>
    <div id="window">
        <div id="content-row">
            <div id="content">
                <div id="logo-container">
                    <img id="logo" src="assets/res/cloud.png">
                </div>

                <div id="title">
                    <p>register</p>
                </div>

                <div id="glow-dot">
                </div>

                <form @submit.prevent="newUserSubmit">
                    <div id="inputs-container">
                            <input class="reg-input" type="text" spellcheck="false" placeholder="username" v-model="userName">
                            <input class="reg-input" type="password" placeholder="password" v-model="userPass">
                            <input class="reg-input" type="password" placeholder="confirm password" v-model="userPassConfirm">
                    </div>

                    <div id="button-container">
                        <input type="submit" value="\\ create" class="button" id="go-button ">
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
<script src="register-script.js "></script>

</html>